body {
	background-image: url("/medie/bilder/nokotan_background.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;

	margin: 0px;
	padding: 0px;

	font-family: sans-serif;
}

#bruker-link {
	align-self: right;	
}

.navbar {
	color: white;
	background-color: rgb(36, 36, 36);

	box-shadow: 0px 3px 5px rgba(42, 42, 42, 0.5);

	padding: 10px;
	
	margin: 5px;
	border-radius: 10px;

	line-height: 50%;
}

.info-div {
	color: white;
	background-color: rgb(36, 36, 36);

	padding: 20px;

	margin: auto;

	margin-top: 30px;

	width: 50%;

	border-radius: 15px;

	box-shadow: 0px 0px 5px rgba(42, 42, 42, 0.5);
}

.headers {
	text-align: center;
}

.navlinks {
	color: white;

	transition: 0.25s;

	margin: auto;

	font-size: 15px;

	vertical-align: center;

	text-decoration: none;
}

.navlinks:hover {
	color: cyan;

	font-size: 20px;
}

.logo {
	height: 30px;
}

.social-links {
	width: 50px;

	transition: 0.5s;
}

.social-links:hover {
	box-shadow: 0px 0px 5px black;
}